body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.photo-container{
    border: 1px solid red;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 100px;
    position: relative;
    overflow: hidden;
}
.photo-box{
    /* border: 1px solid red; */
    flex: 1;
    min-width: 200px;
    height: 600px;
    margin: 0px 10px;
    position: relative;
}
.photo{
    border-radius: 20px;
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    background-color: lightblue;
}
.photo-box:nth-child(1),
.photo-box:nth-child(7){
    bottom: 0px;
}
.photo-box:nth-child(2),
.photo-box:nth-child(6){
 bottom: -100px;
}
.photo-box:nth-child(3),
.photo-box:nth-child(5){
 bottom: -200px;
}
.photo-box:nth-child(4){
 bottom: -300px;
}

